@using CardManager.Helpers 
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject ClinicNavigationHelper ClinicNavigationHelper 

<ul class="navbar-nav" id="navText">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="navbar-nav">
            <a class="navbar-brand fw-bold">CardManager</a>
        </li>
        foreach (var clinicLinkGroup in ClinicNavigationHelper.PopulateClinicLinks())
        {
            <li class="nav-item dropdown">
                <a href="#@clinicLinkGroup.Key" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @clinicLinkGroup.Key
                </a>
                <ul class="dropdown-menu" id="dropDawnMenu" aria-labelledby="navbarDropdownMenuLink">
                    @foreach (var clinic in clinicLinkGroup.Value)
                    {
                        <li>
                            <a asp-controller="" asp-action="" asp-route-clinicId="@clinic.Key" class="dropdown-item">@clinic.Value</a>
                        </li>
                    }
                </ul>
            </li>
        }
        <li class="nav-item">
            <a href="#" class="nav-link">LoadFile</a>
        </li>
    }
    else
    {
        <li class="navbar-nav">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand fw-bold">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">News</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Home" asp-action="CardManager" class="nav-link">CardManager</a>
        </li>
    }
</ul>