@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav" id="navText">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="navbar-nav">
            <a class="navbar-brand fw-bold">CardManager</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Users Management
            </a>
            <ul class="dropdown-menu" id="dropDawnMenu" aria-labelledby="navbarDropdownMenuLink">
                <li><a asp-controller="User" asp-action="Index" class="dropdown-item">Users</a></li>
                <li><a asp-controller="Role" asp-action="Index" class="dropdown-item">Roles</a></li>
                <li><a asp-controller="User" asp-action="Index" class="dropdown-item">number3</a></li>
                <li><a asp-controller="User" asp-action="Index" class="dropdown-item">number4</a></li>
                <li><a asp-controller="User" asp-action="Index" class="dropdown-item">number5</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Publisher" asp-action="Index" class="nav-link">Publisher</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Author" asp-action="Index" class="nav-link">Author</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Book" asp-action="Index" class="nav-link">Book</a>
        </li>
    }
    else
    {
        <li class="navbar-nav">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand fw-bold">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">News</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Home" asp-action="CardManager" class="nav-link">CardManager</a>
        </li>
    }
</ul>