@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (!SignInManager.IsSignedIn(User))
{
    <div class="top-header py-2">
        <div class="container">
            <div class="foo">
                <span class="letter" data-letter="C">C</span>
                <span class="letter" data-letter="a">a</span>
                <span class="letter" data-letter="r">r</span>
                <span class="letter" data-letter="d">d</span>
                <span class="letter" data-letter="M">M</span>
                <span class="letter" data-letter="a">a</span>
                <span class="letter" data-letter="n">n</span>
                <span class="letter" data-letter="a">a</span>
                <span class="letter" data-letter="g">g</span>
                <span class="letter" data-letter="e">e</span>
                <span class="letter" data-letter="r">r</span>
            </div>
        </div>
    </div>
}
