@{
    ViewData["Title"] = "ActivateAccount";
    Layout = "_Layout";
}

<header>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 mt-3 mb-3 fw-bold">Activate Account</h1>
        <p class="lead mb-4">User created a new account with password. Please check your email to activate your account.</p>
    </div>
</header>