@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<header>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 mt-3 mb-3 text-danger fw-bold">Error</h1>
        <p class="lead mb-4 text-danger">Something went wrong!!!</p>
    </div>
</header>