@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "_Layout";
}

<header>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 mt-3 mb-3 fw-bold">Forgot Password Confirmation</h1>
        <p class="lead mb-4">Please check your email to reset your password.</p>
    </div>
</header>