@{
    ViewData["Title"] = "Lockedout";
}

<header>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 mt-3 mb-3 text-danger fw-bold">Locked Out</h1>
        <p class="lead mb-4 text-danger">This account has been locked out, please try again later in 30 seconds.</p>
    </div>
</header>