@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "_Layout";
}

<header>
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 mt-3 mb-3 fw-bold">Reset Password Confirmation</h1>
        <p class="lead mb-4">
            Your password has been reset. Please <a asp-controller="Account" asp-action="Login" class="link-danger">click here to log in.</a>
        </p>
    </div>
</header>